body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
main {
	flex: 1 0 auto;
	margin-top: 2%;
	margin-buttom: 2%;
}
.progressbar {
	display: none;
}
.determinate {
	background-color: rgba(0, 0, 0, 0.4) !important;
}
.credits {
	font-size: 10px !important;
	display: inline;
}
.credits > i {
	font-size: 8px !important; 
}
.credits > a {
	color: #ffffff;
}
.brand-logo > img {
    height: 64px;
}
@media only screen and (max-width: 640px) {
	.brand-logo > img {
		height: 56px;
	}
}